
<app-navbar></app-navbar>

<div class="col-sm-10">

  <h3>
    Okači nove dokumente
  </h3>
  <br>
  <form>
    <div class="form-group">
      <label>Fajl &nbsp; &nbsp;</label>
      <input 
        type="file"
        placeholder="Izaberi naučni rad"
        (change)="selectFile($event)"
        value="Izaberi naucni rad">
    </div>

    <div class="form-group col-md-2">
      <input
        style="min-width: 150px;"
        type="submit"
        class="form-control btn btn-primary" 
        value="Upload"
        (click) = "uploadFile()">
    </div>

    <div class="form-group col-md-2">
      <input
        style="min-width: 150px;" 
        type="submit" 
        class="form-control btn btn-danger" 
        value="Obriši odmah"  
        (click) = "deleteFile()">
    </div>
  </form>

</div>

  <div class="container" style="margin-top: 100px;">
    <div class="container justify-content-md-center" style="display: -webkit-box;">
      <div class="col-lg-12 p-0">
            <a class="list-group-item" style="max-height: 300px; margin-bottom: 10px;" 
            *ngFor = "let i = index; let paper of paperResultPlagiator.similarPapers | paginate: { itemsPerPage: 10, currentPage: p }">
                <div style="display: inline-flex; width: 100%; padding-bottom: 0%; height: 10px;">
                    <h5 class="col-lg-10"><span style="color: crimson; font-size: medium;">Rad: &nbsp;</span>{{paper.title}}</h5>
                </div>
                <div style="display: inline-flex; width: 100%; padding-bottom: 0%; height: 10px;">
                  <h5 class="col-lg-10"><span style="color: crimson; font-size: medium;">Okačen od strane: &nbsp;</span>{{paper.user.email}}</h5>
              </div>
                <div style="display: inline-flex; width: 100%;">
                  <h5 *ngIf="paper.similarProcent*constantNormalization >= constantRedColor" class="col-lg-10" style="color: crimson;">
                      <span style="color: crimson; font-size: medium;">Sličnost sa dokumentom: &nbsp;</span>
                      {{paper.similarProcent*100*constantNormalization}} %
                    </h5>   
                  <h5  *ngIf="paper.similarProcent*constantNormalization < constantRedColor" class="col-lg-10">
                    <span style="color: crimson; font-size: medium;">Sličnost sa dokumentom: &nbsp;</span>
                    {{paper.similarProcent*100*constantNormalization}} %
                  </h5>            
              </div>

                <div style="display: inline-flex; width: 100%;">
                    <button  class="btn btn-info" style="position: relative; float: right; margin-right: 50px;" (click)="details(paper.id)">Detalji</button>   
                    <button  class="btn btn-info" style="position: relative; float: right; margin-right: 50px;" (click)="download(paper.id, paper.title)">Pregledaj</button> 
                </div>
            </a>

            <pagination-controls 
              style="display: flex;justify-content: center;" 
              (pageChange)="p = $event">
            </pagination-controls>
      </div>
    </div>
  </div>

  <div *ngIf = "wrongAnalysis">
      <h1>
        Analiza za traženi dokument više ne postoji!
      </h1>
  </div>



