<app-navbar></app-navbar>
  
  <div style="display: inline-flex; width: 100%; margin-bottom: 10px; margin-top: 10px;; justify-content: center;">
    <p>Okačeni dokument: {{paperResultPlagiator.uploadedPaper.title}}</p>
    <button  
      class="btn btn-info" 
      style="position: relative; float: right; margin-left: 50px" 
      (click)="download(paperResultPlagiator.uploadedPaper.id, paperResultPlagiator.uploadedPaper.title)"
    >
      Pregledaj
    </button>
        
</div>

  <div style="display: inline-flex; width: 100%; justify-content: center;">
    <p>Dokument koji se poredi: {{paperToCompare.title}}</p>
    <button  
      class="btn btn-info" 
      style="position: relative; float: right; margin-left: 50px" 
      (click)="download(paperToCompare.id, paperToCompare.title)"
    >
      Pregledaj
    </button>              
  </div>

  <!-- Rounded switch -->
  <div class="sorting">
    <label  class="label">Sortiraj po sličnosti: </label>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="sortState" (change)="checkValue()">
      <span class="slider round"></span>
    </label>
  </div>

  <div class="container" style="margin-top: 100px;">
    <div class="container justify-content-md-center" style="display: -webkit-box;">
      <div class="col-lg-12 p-0">
            <a class="list-group-item" style="max-height: 500px; margin-bottom: 10px;" 
            *ngFor = "let i = index; let item of items | paginate: { itemsPerPage: 10, currentPage: p }">
              <div style="display: inline-flex; width: 100%; padding-bottom: 0%; height: 10px;">
                <h5 class="col-lg-10"><span style="color: crimson; font-size: medium;">Deo dokumenta: &nbsp;</span>{{(item.partOfPage-1)*wordsPerPart+1}}
                - {{item.partOfPage*wordsPerPart}} reči</h5>
              </div>
              <div style="display: inline-flex; width: 100%; padding-bottom: 0%; height: 10px;">
                <h5 class="col-lg-10">
                  <span style="color: crimson; font-size: medium;">Tekst: &nbsp;</span>
                  {{item.textToShow}}...
                </h5>
              </div>
            <div *ngFor = "let j = index; let paper of item.papers" >
              <div *ngIf = "paperId == paper.id">
                  <div style="display: inline-flex; width: 100%; padding-bottom: 0%; height: 10px;">
                      <h5 class="col-lg-10"><span style="color: crimson; font-size: medium;">Rad: &nbsp;</span>{{paper.title}}</h5>
                  </div>
                  <div style="display: inline-flex; width: 100%;">
                      <h5 *ngIf="(paper.searchHits/item.papers[0].searchHits) >= constantRedColor" class="col-lg-10" style="color: crimson;">
                        <span style="color: crimson; font-size: medium;">Sličnost u procentima: &nbsp;</span>
                        {{(paper.searchHits/item.papers[0].searchHits)*100}} %
                      </h5>
                      <h5 *ngIf="paper.searchHits/item.papers[0].searchHits < constantRedColor" class="col-lg-10">
                        <span style="color: crimson; font-size: medium;">Sličnost u procentima: &nbsp;</span>
                        {{(paper.searchHits/item.papers[0].searchHits)*100}} %
                      </h5>            
                </div>
              </div>
              </div>
            </a>
            <pagination-controls style="display: flex;justify-content: center;" 
            (pageChange)="p = $event"></pagination-controls>
        </div>
       
      </div>
    </div> 
   

    <div class="container" style="margin-top: 50px;">
    <div >
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label">Komentar: </label>
        <div class="col-sm-10">
          <textarea id="colFormLabelLg" name="colFormLabelLg" rows="4" cols="125" 
          placeholder="Komentar" [(ngModel)]= "comment.text">
        </textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label">Poklapanje: </label>
        <div class="col-sm-10">
          <input type="number" min="1" max="5" class="form-control form-control-lg" id="colFormLabelLg" 
          placeholder="Na skali od 1 do 5 popunite poklapanje dokumenata" [(ngModel)]= "comment.matcheNumber">
        </div>
      </div>
      <div class="col-auto" style="padding: 0px;">
        <button type="button" class="btn btn-primary mb-2" (click)="submitComment()">Pošalji komentar</button>
      </div>
    </div>
  </div>
 
