<div class="bs-example">
	<nav class="navbar navbar-expand-md navbar-light" style="background-color: #3494b9;">
		<a class="navbar-brand" [routerLink]="['/home']" style="color: white;"><b>PLAGIATOR</b></a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" style="color: white;" [routerLink]="['/home']">Početna</a>
				<a class="nav-item nav-link" style="color: white;" [routerLink]="['/new-document']" *ngIf="loggedIn">Proveri rad</a>
				<a class="nav-item nav-link" style="color: white;" [routerLink]="['/old-documents']" *ngIf="loggedIn">Uploaduj stare dokumente</a>
				<a class="nav-item nav-link" style="color: white;" [routerLink]="['/documents']" *ngIf="loggedIn">Dokumenti</a>
				<a class="nav-item nav-link" style="color: white;" [routerLink]="['/users']" *ngIf="isAdmin">Korisnici</a>
				
			</div>
			<div class="navbar-nav ml-auto">
				<a class="nav-item nav-link" style="color: white;" [routerLink]="['/register']" *ngIf="!loggedIn">Registracija</a>
        		<a class="nav-item nav-link" style="color: white;" [routerLink]="['/login']" *ngIf="!loggedIn">Prijava</a>
       			<a class="nav-item nav-link" style="color: white;" (click)="logOut()" *ngIf="loggedIn">Odjava</a>
			</div>
		</div>
	</nav>
</div>