<app-navbar></app-navbar>
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="panel-heading">
          <h1 id="register-form-link">Registracija</h1>
        <hr>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-10">
            <form id="register-form" method="post" role="form"  #formRegister="ngForm" style="display: block;">
              <div class="form-group">
                <label>Email</label>
                <input type="email" minlength="10" maxlength="60" [(ngModel)]="user.email" #email="ngModel" name="email" id="email" class="form-control" placeholder="Email" value="">
                <small [hidden]="email.valid || (email.pristine && !formRegister.submitted)"  class="input text-danger">
                 Email is required
                 </small>
                 <small [hidden]="mailNotUnique"  class="text-danger">
                  Email already exist
                  </small>
              </div>
              <div class="form-group">
                <label>Lozinka</label>
                <input type="password" minlength="3" maxlength="30" [(ngModel)]="user.password" name="password" id="password" class="form-control" placeholder="Lozinka"  
                  validateEqual="confirmPassword" reverse="true" #password="ngModel" minlength="3" [pattern]="patternHigh">       
                <small [hidden]="password.valid || (password.pristine && !formRegister.submitted)" class="input text-danger">
                  Password is required. Minimum 12 characters, at least one uppercase letter, one lowercase letter, one number and one special character
                </small>
              </div>
              <div class="form-group">
                <label>Potvrda lozinke</label>
                <input type="password" [(ngModel)]="user.repeatedPassword" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Potvrda lozinke" required validateEqual="password" reverse="false" #confirmPassword="ngModel">
                <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !formRegister.submitted)" class="input text-danger">
                  Password doesn't match
                </small>
              </div>
              <div class="form-group">
                <label>Ime</label>
                <input type="text" minlength="3"  maxlength="30" #uname="ngModel" [(ngModel)]="user.name" name="name" id="name"  class="form-control" placeholder="Ime" value="">
                <small [hidden]="uname.valid || (uname.pristine && !formRegister.submitted)"  class="input text-danger">
                 Name is required
                </small>
              </div>
              <div class="form-group">
                <label>Prezime</label>
                <input type="text" minlength="3"  maxlength="30" #lastName="ngModel" [(ngModel)]="user.lastName" name="lastName" id="lastName"  class="form-control" placeholder="Prezime">
                <small [hidden]="lastName.valid || (lastName.pristine && !formRegister.submitted)"  class="input text-danger">
                  Last name is required
                 </small>
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="user.phoneNumber" minlength="6" maxlength="15"  #brojTelefona="ngModel" name="brojTelefona" id="brojTelefona"  class="form-control" placeholder="Broj telefona">
                <small [hidden]="brojTelefona.valid || (brojTelefona.pristine && !formRegister.submitted)"  class="text-danger">
                  Broj telefona je obavezno polje(minimum 6 a maksimum 15 karaktera)
                 </small>
              </div>
              <div class="form-group">
                    <input type="button" (click)="register()" name="register-submit" id="register-submit" class="form-control btn btn-primary" value="Registuj se">
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>